

:root{
    --colorfond: rgb(38, 78, 78);
    
}
body{
    background-color: var(--colorfond);

}

.navigation__link{
    color: rgb(230, 221, 221);
    text-align: right;
    margin: 20px;
    position: relative;
    top: 20px;
    padding: 7px;
    background-color: rgb(94, 116, 145);
    border-radius: 50px;
    height: 11px;
    width: 50px;
    font-size: x-large;
}
.navigation{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    height: 20%;
}
.presantation{
    display: flex; 
    box-sizing: border-box;
    justify-content: space-between;
}
.presantation__pre{
    font-size: x-large;
    width: 50%;
    justify-content: right;
    font-size: larger;
    background-color: white;
    border-radius: 5%;
    text-align: center;
    margin-top: 3%;
    height: 10%;
    margin-right:3%;
    margin-left: 3%;
}
.presantation__image{
    padding-top: 30px;
    margin-right: 5%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transition: 1s ease-in-out;
}
.presantation__image:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgb(88, 59, 59);
    transform: scale(1.5);
}

.resturant__title{
    text-align: center;
    background-color: rgb(228, 228, 238);
}

.resturant__category{
    display: flex;
    justify-content: space-around;
    font-size: x-large;
    box-sizing: border-box;
    margin-left: 5%;
    margin-right:  10%; 
}
.resturant__category-title{
    border-radius: 50px;
    box-sizing: border-box;
}


.resturant__category--pizza{
    width: 50%;
    background-color: rgb(230, 16, 16);
    border: solid;
    flex-wrap: wrap;
}
.resturant__category--pasta{
    width: 50%;
    background-color: rgb(167, 137, 39);
    border:solid;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.resturant__item{
    text-align: center;

}
.resturant__category--deser{
    width: 50%;
   border: solid;
   background-color: aqua;
   flex-wrap: wrap;
}

.photo-galary__title{
    text-align: center;
    background-color: blue;
    font-size: xx-large;

}
.photo-galary__item{
    flex-wrap: wrap;
    box-shadow: 0 4px 6px rgb(148, 24, 24);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transition: 1s ease-in-out;
}
.photo-galary__item:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgb(88, 59, 59);
    transform: scale(1.5);
}
.photos-galary__list{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 10%;
    margin-left: 5%;
    height: 20%;

}
.contact-form{
    background-color: rgb(179, 85, 85);
    text-align: center;
    margin: 20px;
    padding: 5px;
    width: 78%;
    margin-left:7%;
    border-radius:5%;
    
}

 .photo-galary__item{
    width: 500px;
    }

.footer{
    width: 78%;
    height:50% ;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    margin-left: 7%;
    background-color: rgb(0, 255, 200);
    border-radius: 5%;
}

.footer__right{
   display: flex;
   justify-content: space-between;
   width: 50%;
}
.footer__column--3{
margin-right: 20px;
}
.footer__left{
    margin-left: 20px;
}
.contact-form__button{
    color: rgb(136, 116, 57); 
  background-color: rgb(194, 120, 120);
  margin: 5px;
  padding: 10px;
}
  

.dark-mode{
    background-color: black;
}
.contact-form__input{
    width: 90%;
    justify-content: center;
    padding: 5px;
    margin: 5px;
}
