
.navigation__link{
    color: rgb(194, 38, 38);
    text-align: right;
    margin: 20px;
    position: relative;
    top: 20px;
    padding: 7px;
    background-color: aqua;
    border-radius: 50px;
    height: 11px;
    width: 50px;
    font-size: x-large;
}
.navigation{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    height: 20%;
}
.presantation{
    display: flex; 
    box-sizing: border-box;
    justify-content: space-between;
}
.presantation__pre{
    font-size: x-large;
    width: 49%;
    justify-content: right;
    font-size: larger;
}
.presantation__image{
    padding-top: 30px;
    margin-right: 5%;
}

.resturant__title{
    text-align: center;
    background-color: rgb(228, 228, 238);
}

.resturant__category{
    display: flex;
    justify-content: space-around;
    font-size: x-large;
    box-sizing: border-box;
    margin-left: 5%;
    margin-right:  10%; 
}
.resturant__category-title{
    width: 30%;
    border-radius: 50px;
    box-sizing: border-box;
}


.resturant__category--pizza{
    width: 50%;
    background-color: brown;
    border-radius: 50px;
    flex-wrap: wrap;
}
.resturant__category--pasta{
    width: 50%;
    background-color: rgb(167, 137, 39);
    border-radius: 50px;
    flex-wrap: wrap;
}
.resturant__category--deser{
    width: 50%;
   border-radius:50px;
   background-color: aqua;
   flex-wrap: wrap;
}

.photo-galary__title{
    text-align: center;
    background-color: blue;
    font-size: xx-large;

}
.photo-galary{
    flex-wrap: wrap;
}
.photos-galary__list{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 10%;
    margin-left: 5%;
    height: 20%;

}
.contact-form{
    background-color: brown;
    text-align: center;
    margin: 20px;
    width: 78%;
    margin-left:7%;
    border-radius:5%;
}

 .photo-galary__item{
    width: 500px;
    }

.footer{
    width: 78%;
    height:50% ;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    margin-left: 7%;
    background-color: rgb(0, 255, 200);
    border-radius: 5%;
}

.footer__right{
   display: flex;
   justify-content: space-between;
   width: 50%;
}
.footer__column--3{
margin-right: 20px;
}
.footer__left{
    margin-left: 20px;
}
#toggleButton{
    color: rgb(136, 116, 57); 
  background-color: rgb(194, 120, 120);
}
  

.dark-mode{
    background-color: black;
}